<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title th:fragment="TitlePage">Home</title>
	<style th:replace="/common/_Head_tag"></style>
</head>
<body>	

	<!-- header-->
	<header th:replace="common/_Header_admin"></header>

	<div class="content">
		<div class="page-inner">
			<!-- breadcrumbs -->
			<div class="page-header">
				<h4 class="page-title">Avatars</h4>
				<ul class="breadcrumbs">
					<li class="nav-home">
						<a href="#">
							<i class="flaticon-home"></i>
						</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Base</a>
					</li>
					<li class="separator">
						<i class="flaticon-right-arrow"></i>
					</li>
					<li class="nav-item">
						<a href="#">Avatars</a>
					</li>
				</ul>
			</div>
			<!-- end breadcrumbs -->

		<!-- body-->

			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<div class="card-header">
							<h4 class="card-title">Tiêu đề mục</h4>
							
						</div>
						<!-- content body -->
						<div class="card-body">
							Các khối nội dung ở đây
						</div>
						<!-- end content body -->
					</div>
				</div>
			</div>
			<!-- End body -->
		</div>
	</div>

	<!-- footer-->
	<footer th:replace="common/_footer_admin"></footer>
	
</body>
</html>