<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.thymeleaf.org/thymeleaf-extras-layout">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title th:text="${title}">đăng nhập</title>
		<style th:replace="/common/_Head_tag_client"></style>
		<link href="../../login/css/style.css" rel="stylesheet" type="text/css"
			media="all" />
	</head>
	<body>
		<header th:replace="common/_Header_Client"></header>
		<div class="header">
			<div class="header-main">
				<h1>đăng nhập </h1>
				<div class="header-bottom">
					<div class="header-right w3agile">

						<div class="header-left-bottom agileinfo">

							<form th:action="@{/login}" th:object="${loginForm}" method="post">

								<input type="text" value="Nhập tên" name="username"
									onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'username';}" />
								<input type="password" value name="password" onfocus="this.value = '';"
									onblur="if (this.value == '') {this.value = 'Nhập mật khẩu';}" />
								<div class="remember">
									<span class="checkbox1">
										<label class="checkbox"><input type="checkbox" name checked><i>
											</i>ghi nhớ mật khẩu</label>
									</span>
									<div class="forgot">
										<h6><a href="/">Quên mật khẩu?</a></h6>
									</div>
									<div class="clear"> </div>
								</div>
								<input style="border-radius: 20px;" type="submit" value="Login">
								<p
									style="color:red; background-color: black; width: 515px; border-radius: 20px; text-align: center;"
									th:text="${error}" class="error"></p>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer th:replace="common/_footer_Client"></footer>
	</body>
</html>
