<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title th:text="${title}">trang đăng ký</title>
        <style th:replace="/common/_Head_tag_client"></style>
        <link rel="stylesheet" href="../../register/register.css">
       
    </head>
    <body>
        <header th:replace="common/_Header_Client"></header>
        <div class="header-main">
            <h1>đăng ký</h1>
            <div class="header-bottom">
                <div class="header-right w3agile">
                    <div class="header-left-bottom agileinfo">
                        <div th:if="${message}">
                            <p style="color: green;" th:text="${message}"></p>
                            <h1><input type="button" value="name">ham tao </h1>
                        </div>

                        <div th:if="${error}">
                            <p style="color: red;" th:text="${error}"></p>
                        </div>
                        <form th:action="@{/processRegister}"
                            th:object="${account}" method="post">
                            <input type="text" placeholder="Nhập tên"
                                th:field="*{username}" required />
                            <input type="password" placeholder=" Nhập mật khẩu"
                                th:field="*{password}" required>
                            <input type="text" placeholder="Nhập gmail"
                                th:field="*{email}" />
                            <input type="text" placeholder=" Nhập tên đầy đủ"
                                th:field="*{fullName}" />
                            <input type="text" placeholder=" Nhập sdt"
                                th:field="*{phone}" />
                            <input type="text" placeholder=" Nhập địa chỉ"
                                th:field="*{address}" />
                            <input type="file" placeholder=" chon hình"
                                th:field="*{avatar}" />
                            <div class="remember">
                                <span class="checkbox1">
                                    <input type="checkbox" name="remember"
                                        id="remember" checked>
                                    <label for="remember">Nhớ mật khẩu của tôi</label>
                                </span>
                                <div class="forgot">
                                    <h6><a th:href="@{/login}">Đã có tài khoản? Đăng Nhập tại đây</a></h6>
                                </div>
                            </div>
                            <div class="form-group btn-container">
                                <button type="submit"  onclick="registerButton()">register</button>
                            </div>
                        </form>
                       
                    <!-- Success Modal -->
                 
                    </div>
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <footer th:replace="common/_footer_Client"></footer>
    </body>
</html>
