<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${product.name}"></title>
    <style th:replace="/common/_Head_tag_client"></style>
</head>
<body>
    <header  th:replace="common/_Header_Client"></header>

    <!-- Hero Section Begin -->
    <section class="hero hero-normal">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="hero__categories">
                        <div class="hero__categories__all">
                          <i class="fa fa-bars"></i>
                          <span>Tất cả danh mục</span>
                        </div>
                        <ul>
                          <li th:each="category : ${categories}"><a th:href="@{/{path}(path=${category.path})}">[[${category.name}]]</a></li>
                          <li><a href="/khuyen-mai">Khuyến Mãi</a></li>
                          <li><a href="/tin-tuc">Tin Tức</a></li>
                          <li><a href="/lien-he">Liên Hệ</a></li>
                          <li><a href="#"></a></li>
                          <li><a href="#"> </a></li>
                        </ul>
                      </div>
                </div>
                <div class="col-lg-9">
                    <div class="hero__search">
                        <div class="hero__search__form">
                            <form action="/search/product" method="GET">
                                <div class="hero__search__categories">
                                  Tìm kiếm
                                  <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" name="keyword" placeholder="Bạn tìm sản phẩm gì?" required autocomplete="off"/>
                                <button type="submit" class="site-btn">TÌM</button>
                            </form>
                        </div>
                        <div class="hero__search__phone">
                          <div class="hero__search__phone__icon">
                            <i class="fa fa-phone"></i>
                          </div>
                          <div class="hero__search__phone__text">
                            <a href="tel:0981198781"><h5>098 119 8781</h5></a>
                            <span>Hỗ trợ 24/7</span>
                          </div>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Breadcrumb Section Begin -->
    <section class="breadcrumb-section set-bg" data-setbg="../../client/img/breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="breadcrumb__text">
                        <h2 th:text="${product.name}"></h2>
                        <div class="breadcrumb__option">
                            <a href="/">Trang chủ</a>
                            <a th:href="@{/{path}(path=${categoryDetail.path})}" th:text="${categoryDetail.name}"></a>
                            <span th:text="${product.name}"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__item">
                            <img class="product__details__pic__item--large"
                                th:src="'/uploads/' + ${mainImage.path}" alt="">
                        </div>
                        <div class="product__details__pic__slider owl-carousel">
                            <img th:each="img : ${image}" th:data-imgbigurl="'/uploads/' + ${img.path}"
                                th:src="'/uploads/' + ${img.path}" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product__details__text">
                        <h3 th:text="${product.name}"></h3>
                        <div class="product__details__rating">
                          <!-- Loop to display filled stars (maximum 5 stars) -->
                          <span th:each="star : ${#numbers.sequence(1, avgStart)}" th:if="${star &lt;= 5}">
                              <i class="fa fa-star"></i>
                          </span>
                          <!-- If avgStart has a fractional part, display a half star -->
                          <span th:if="${avgStart % 1 != 0 && avgStart > 0}">
                              <i class="fa fa-star-half-o"></i>
                          </span>
                          <span>(<span th:text="${#lists.size(comments)}"></span> lượt đánh giá)</span>
                       </div>
                      
                      
                        <div class="product__details__price" th:if="${discount.percent != 0}">
                          [[${#numbers.formatDecimal(discount.discountPrice, 0, 'COMMA', 0, 'POINT')}]]đ &#160; 
                          <del style="color: #999; font-size: 18px;">[[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]]đ</del>
                          <span class="percent__discount">-[[${discount.percent}]]%</span>
                        </div>
                        <div class="product__details__price" th:if="${discount.percent == 0}">
                          [[${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')}]]đ 
                        </div>
                        <p th:text="${product.description}"></p>
                        <div class="product__details__quantity">
                            <div class="quantity">
                                <div class="pro-qty">
                                    <input type="text" id="quantity-product" value="1">
                                  </div>
                                </div>
                            </div>
                         <input type="hidden" id="id-product" th:value="${product.id}">
                        <button class="primary-btn add-to-cart-btn-detail">THÊM VÀO GIỎ</button>
                        <ul>
                            <li><b>Mã sản phẩm</b> <span>[[${product.code}]]</span></li>
                            <li><b>Chất liệu</b> <span th:text="${product.material}"></span></li>
                            <li><b>Kích thước</b> <span >[[${product.size}]]</span></li>
                            <li><b>Tồn kho</b> <span>[[${product.stock}]]</span></li>
                            <li><b>Chia sẻ</b>
                                <div class="share">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab"
                                    aria-selected="true">Mô tả</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab"
                                    aria-selected="false">Đánh giá (<span th:text="${#lists.size(comments)}"></span>)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                              <div class="product__details__tab__desc">
                                <!-- Sử dụng div để hiển thị nội dung được định dạng từ CKEditor -->
                                <div th:utext="${product.content}"></div>
                              </div>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                              <div class="row">
                                <!-- User Reviews -->
            
                                <div class="col-lg-6 reviews_col">
                                  <div class="tab_title reviews_title">
                                    <h4>Đánh giá [[${avgStart}]]/5</h4>
                                  </div>
            
                                  <!-- User Review -->
            
                                  <div class="user_review_container d-flex flex-column flex-sm-row" th:each="comment : ${comments}">
                                    <div class="user">
                                      <div class="user_pic"></div>
                                      <div class="user_rating">
                                        <ul class="star_rating">
                                          <!-- Loop to display star rating (maximum 5 stars) -->
                                          <li th:each="star : ${#numbers.sequence(1, 5)}">
                                              <!-- Check if ratingStar is greater than or equal to the current star index -->
                                              <i class="fa fa-star" aria-hidden="true" th:if="${comment.ratingStar &gt;= star}"></i>
                                              <!-- If ratingStar is less than the current star index, display an empty star -->
                                              <i class="fa fa-star-o" aria-hidden="true" th:unless="${comment.ratingStar &gt;= star}"></i>
                                          </li>
                                        </ul>
                                      </div>
                                    </div>
                                    <div class="review">
                                      <div class="review_author" th:text="${comment.fullName}"></div>
                                      <p th:text="${comment.content}"></p>
                                      <!-- Display review author -->
                                    </div>
                                  </div>

                                </div>

                                <!-- end  -->
            
                                <!-- Add Review -->
            
                                <div class="col-lg-6 add_review_col">
                                  <div class="add_review">
                                    <form id="review_form">
                                      <div>
                                        <h1>Thêm đánh giá</h1>
                                      <div>
                                        <h1>Số sao:</h1>
                                        <ul class="user_star_rating">
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star" aria-hidden="true"></i>
                                          </li>
                                          <li>
                                            <i class="fa fa-star-o" aria-hidden="true"></i>
                                          </li>
                                        </ul>
                                        <textarea
                                          id="review_message"
                                          class="input_review"
                                          name="message"
                                          placeholder="Đánh giá của bạn"
                                          rows="4"
                                          required
                                          data-error="Please, leave us a review."
                                        ></textarea>
                                      </div>
                                      <div class="text-left text-sm-right">
                                        <button
                                          id="review_submit"
                                          type="submit"
                                          class="red_button review_submit_btn trans_300 primary-btn"
                                          value="Submit"
                                        >
                                          gửi
                                        </button>
                                      </div>
                                    </form>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <!-- Related Product Section Begin -->
    <section class="related-product">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title related__product__title">
                        <h2>Sản phẩm liên quan</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-4 col-sm-6" th:each="product_r : ${productRand}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="'/uploads/' + ${product_r.image}">
                            <ul class="product__item__pic__hover">
                              <li><a th:href="@{/san-pham/{path}(path=${product_r.path})}"><i class="fa fa-eye"></i></a></li>
                              <li><a th:href="@{/add-to-cart/{id}(id=${product_r.id})}"><i class="fa fa-shopping-cart"></i></a></li>
                            </ul>
                            <div class="discount-percent-badge" th:if="${product_r.percent != null}">-[[${product_r.percent}]]%</div>
                        </div>
                        <div class="product__item__text">
                          <h6><a th:href="@{/san-pham/{path}(path=${product_r.path})}">[[${product_r.name}]]</a></h6>
                          <h5 th:if="${product_r.percent == null}">
                              [[${#numbers.formatDecimal(product_r.price, 0, 'COMMA', 0, 'POINT')}]]đ
                          </h5>
                          <h5 th:if="${product_r.percent != null}">
                              <del>[[${#numbers.formatDecimal(product_r.price, 0, 'COMMA', 0, 'POINT')}]]đ</del>
                              <span class="discounted-price">[[${#numbers.formatDecimal(product_r.priceDiscount, 0, 'COMMA', 0, 'POINT')}]]đ</span>
                          </h5>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer   th:replace="common/_footer_Client"></footer>
    <script>
      $(".add-to-cart-btn-detail").click(function() {
            var quantity = $("#quantity-product").val();
            var productId = $("#id-product").val();
            // console.log(quantity, productId);
            addToCart(productId, quantity);
       });
    </script>
    <script th:inline="javascript">
      $(document).ready(function(){
        var ratingStar = 4;
        initStarRating();

        function initStarRating() {
          if ($('.user_star_rating li').length) {
            var stars = $('.user_star_rating li');

            stars.each(function () {
              var star = $(this);

              star.on('click', function () {
                var i = star.index() + 1; // Lấy index của sao chọn và cộng thêm 1 vì index bắt đầu từ 0

                stars.find('i').removeClass('fa-star').addClass('fa-star-o'); // Đặt tất cả các sao về trạng thái không chọn

                for (var x = 0; x < i; x++) {
                  $(stars[x]).find('i').removeClass('fa-star-o').addClass('fa-star'); // Đặt lại các sao đã chọn
                }
                ratingStar = i;
                //console.log(ratingStar); // Log ra số sao đang chọn
              });
            });
          }
        }

          
        $('#review_form').submit(function(e) {
            e.preventDefault();
            
            var content = $('#review_message').val();
            var productId = /*[[${product.id}]]*/ 0;
            var accountId = /*[[${session.accountId}]]*/ 0;

          var comment = {
              ratingStar: ratingStar,
              content: content,
              productId: productId,
              accountId: accountId
          };
          //console.log(comment);
          $.ajax({
              type: 'POST',
              url: '/api/comments/add',
              contentType: 'application/json',
              data: JSON.stringify(comment),
              success: function(response) {
                  $("#notification").html(response).addClass("show");
                  setTimeout(function() {
                      $("#notification").removeClass("show");
                      if (response === "Đánh giá thành công.") {
                          window.location.reload(); 
                      }
                  }, 2000);
              },
              error: function(xhr, status, error) {
                  console.error(xhr.responseText);
                  $("#notification").html(xhr.responseText).addClass("show");
                  setTimeout(function() {
                      $("#notification").removeClass("show");
                  }, 2000);
              }

          });


      });
 

       });
    </script>
    
</body>
</html>