<!DOCTYPE html>
<html>
<head>
<title>Giỏ hàng - Nội thất HKT</title>
<style th:replace="/common/_Head_tag_client"></style>
</head>
<body>
<header th:replace="common/_Header_Client"></header>
    
        <!-- Hero Section Begin -->
        <section class="hero hero-normal">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="hero__categories">
                            <div class="hero__categories__all">
                              <i class="fa fa-bars"></i>
                              <span>Tất cả danh mục</span>
                            </div>
                            <ul>
                              <li th:each="category : ${categories}"><a th:href="@{/{path}(path=${category.path})}">[[${category.name}]]</a></li>
                              <li><a href="#">Khuyến Mãi</a></li>
                              <li><a href="/tin-tuc">Tin Tức</a></li>
                              <li><a href="/lien-he">Liên Hệ</a></li>
                              <li><a href="#"></a></li>
                              <li><a href="#"> </a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="hero__search">
                            <div class="hero__search__form">
                              <form action="/search/product" method="GET">
                                <div class="hero__search__categories">
                                  Tìm kiếm
                                  <span class="arrow_carrot-down"></span>
                                </div>
                                <input type="text" name="keyword" placeholder="Bạn tìm sản phẩm gì?" required autocomplete="off"/>
                                <button type="submit" class="site-btn">TÌM</button>
                              </form>
                            </div>
                            <div class="hero__search__phone">
                              <div class="hero__search__phone__icon">
                                <i class="fa fa-phone"></i>
                              </div>
                              <div class="hero__search__phone__text">
                                <a href="tel:0981198781"><h5>098 119 8781</h5></a>
                                <span>Hỗ trợ 24/7</span>
                              </div>
                            </div>
                          </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero Section End -->
    
        <!-- Breadcrumb Section Begin -->
        <section class="breadcrumb-section set-bg" data-setbg="../../client/img/breadcrumb.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="breadcrumb__text">
                            <h2>Giỏ hàng</h2>
                            <div class="breadcrumb__option">
                                <a href="/">Trang chủ</a>
                                <span>Giỏ hàng</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Breadcrumb Section End -->
    
        <!-- Shoping Cart Section Begin -->
        <section class="shoping-cart spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__table">
                            <table>
                                <thead>
                                    <tr>
                                        <th class="shoping__product">Sản phẩm</th>
                                        <th>Giá</th>
                                        <th>Số lượng</th>
                                        <th>Tổng tiền</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- Kiểm tra nếu giỏ hàng không có sản phẩm -->
                                    <tr th:if="${carts == null}">
                                        <td colspan="5">Giỏ hàng của bạn đang trống.</td>
                                    </tr>
                                    <tr th:if="${carts != null}" th:each="cart : ${carts}">
                                        <td class="shoping__cart__item">
                                            <img th:src="'/uploads/' + ${cart.image}" alt="" width="100px"/>
                                            <h5 th:text="${cart.name}"></h5>
                                        </td>
                                        <td class="shoping__cart__price">
                                            <del class="delprice" th:if="${cart.percent != null}">[[${#numbers.formatDecimal(cart.price, 0, 'COMMA', 0, 'POINT')}]]đ</del>
                                            [[${#numbers.formatDecimal(cart.discountPrice, 0, 'COMMA', 0, 'POINT')}]]đ
                                        </td>
                                        <td class="shoping__cart__quantity">
                                            <div class="quantity">
                                                <div class="pro-qty">
                                                    <input type="text" th:value="${cart.quantity}">
                                                </div>
                                            </div>  
                                        </td>
                                        <td class="shoping__cart__total">
                                            <del class="delprice" th:if="${cart.percent != null}">[[${#numbers.formatDecimal(cart.total, 0, 'COMMA', 0, 'POINT')}]]đ</del>
                                            [[${#numbers.formatDecimal(cart.totalDiscount, 0, 'COMMA', 0, 'POINT')}]]đ
                                        </td>
                                        <td class="shoping__cart__item__close">
                                            <span class="icon_close"></span>
                                            <input type="hidden" class="product-id" th:value="${cart.productId}">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shoping__cart__btns">
                            <a href="/san-pham" class="primary-btn cart-btn" style="border: 2px solid #545454;">Tiếp tục mua sắm</a>
                            <button id="update-cart" class="primary-btn cart-btn cart-btn-right">Cập nhật giỏ hàng</button>
                        </div>
                    </div>
                    <div class="col-lg-6">  
                        <!-- <div class="shoping__continue">
                            <div class="shoping__discount">
                                <h5>Discount Codes</h5>
                                <form action="#">
                                    <input type="text" placeholder="Enter your coupon code">
                                    <button type="submit" class="site-btn">APPLY COUPON</button>
                                </form>
                            </div>
                        </div> -->
                    </div>
                    <div class="col-lg-6">
                        <div class="shoping__checkout">
                            <h5>Tổng tiền</h5>
                            <ul>
                                <li>Tổng trước giảm<del>[[${#numbers.formatDecimal(totalBefore, 0, 'COMMA', 0, 'POINT')}]]đ</del></li>
                                <li>Tổng thanh toán<span>[[${#numbers.formatDecimal(total, 0, 'COMMA', 0, 'POINT')}]]đ</span></li>
                            </ul>
                            <a href="/dat-hang" class="primary-btn">ĐẶT HÀNG</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
   
    <footer   th:replace="common/_footer_Client"></footer>
    <!-- ///////// -->
    <script th:inline="javascript">
        $(document).ready(function(){
            $('.icon_close').click(function(){
                var productId = $(this).closest('tr').find('.product-id').val();
                $(this).closest('tr').remove();
            });
    
            $('#update-cart').click(function(){ 
                var cartItems = [];
                $('.shoping__cart__table tbody tr').each(function(){
                    var productId = $(this).find('.product-id').val();
                    var quantity = $(this).find('.pro-qty input').val();
                    cartItems.push({
                        productId: productId,
                        quantity: quantity
                    });
                });

                $.ajax({
                    url: '/update-cart',
                    type: 'POST',
                    contentType: 'application/json',
                    data: JSON.stringify(cartItems),
                    success: function(response) {
                        console.log('Cart updated successfully:', response);
                        window.location.href = "/gio-hang";
                    },
                    error: function(xhr, status, error) {
                        console.error('Error updating cart:', error);
                    }
                });
            });


        });
    </script>
    

</body>
</html>
