<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:fragment="TitlePage">tạo người dùng</title>
    <style th:replace="/common/_Head_tag"></style>
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/41.1.0/classic/ckeditor.css">
  </head>
  <body>
    <!-- header-->
    <header th:replace="common/_Header_admin"></header>
    

    <div class="content">
      <div class="page-inner">
        <!-- breadcrumbs -->
        <div class="page-header">
          <ul class="breadcrumbs">
            <li class="nav-home">
              <a href="/admin">
                <i class="flaticon-home"></i>
              </a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a href="/admin/account/add">trang thêm người dùng</a>
            </li>
          </ul>
        </div>
        <!-- end breadcrumbs -->
  
      <!-- body-->
  
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Tiêu đề mục</h4>
                
              </div>
              <!-- content body -->
              <div class="card-body">
                <form action="#" th:action="@{/admin/account/add}" th:object="${account}" method="post">
                  <div class="form-group">
                    <label for="username">Tên người dùng</label>
                    <input
                      type="text"
                      class="form-control"
                      id="username" 
                      placeholder="Nhập tên người dùng"
                      th:field="*{username}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="password">mật khẩu người dùng </label>
                    <input
                      type="text"
                      class="form-control"
                      id="password" 
                      placeholder="Nhập mật khẩu người dùng "
                      th:field="*{password}"
                    />
                    <div class="form-group">
                        <label for="address">địa chỉ </label>
                        <input
                          type="text"
                          class="form-control"
                          id="address" 
                          placeholder="Nhập địa chỉ "
                          th:field="*{address}"
                        />
                  </div>
                  <div class="form-group">
                    <label for="FullName">họ và tên </label>
                    <input
                      type="text"
                      class="form-control"
                      id="FullName"
                      placeholder="Nhập họ và tên "
                      th:field="*{FullName}"
                    />
                  </div>
                  <div class="form-group">
                    <label for="email">email</label>
                    <input
                      type="text"
                      class="form-control"
                      id="email"
                      placeholder="Nhập mã email"
                      th:field="*{email}"
                    />
                  </div>
                 

                 <hr>
                  <!-- Các trường dữ liệu người dùng -->
                  <!-- Các trường dữ liệu khác -->
                  <button type="submit" style="background-color: blue; color: azure;">Thêm người dùng</button>
              </form>
              
              </div>
              <!-- end content body -->
            </div>
          </div>
        </div>
        <!-- End body -->
      </div>
    </div>
    <!-- End Modal -->

    <!-- footer-->
    <footer th:replace="common/_footer_admin"></footer>
  </body>
</html>
