<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:fragment="TitlePage">Categories</title>
    <style th:replace="/common/_Head_tag"></style>
  </head>

  <body>
    <!-- header-->
    <header th:replace="common/_Header_admin"></header>

    <div class="content">
      <div class="page-inner">
        <!-- breadcrumbs -->
        <div class="page-header">
          <ul class="breadcrumbs">
            <li class="nav-home">
              <a href="/admin">
                <i class="flaticon-home"></i>
              </a>
            </li>
            <li class="separator">
              <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
              <a href="">Loại sản phẩm</a>
            </li>
          </ul>
        </div>
        <!-- end breadcrumbs -->

        <!-- body-->

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              
              <div class="card-header">
                <h4 class="card-title" > Danh sách thể loại sản phẩm <a href="/admin/categories/add" class="btn btn-primary" style="float: right; color: white;">Thêm loại</a></h4> 
              </div>
              <!-- content body -->

              <div class="card-body">
                <div class="table-responsive">
                  <table id="add-row" class="display table table-striped table-hover" >
                    <thead>
                      <tr>
                        <th>Id</th>
                        <th>Ảnh đại diện</th>
                        <th>Tên loại</th>
                        <th>Đường dẫn</th>
                        <th style="width: 10%">Hành động</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Id</th>
                        <th>Ảnh đại diện</th>
                        <th>Tên loại</th>
                        <th>Đường dẫn</th>  
                        <th>Hành động</th>
                      </tr>
                    </tfoot>
                    <tbody>
                      <tr th:each="category : ${categories}" th:if="${category.isDelete == false}">
                        <td th:text="${category.id}"></td>
                        <td><img th:src="@{/uploads/{image}(image=${category.image})}" width="70px" class="thumbnail" style="margin: 10px;"></td>
                        <td th:text="${category.name}"></td>
                        <td th:text="${category.path}"></td>
                        <td>
                          <div class="form-button-action">
                              <button type="button" data-toggle="tooltip" title="Chỉnh sửa" class="btn btn-link btn-primary btn-lg edit-btn" data-original-title="Chỉnh sửa" th:data-category-id="${category.id}">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" title="Xóa" class="btn btn-link btn-danger delete-btn" data-toggle="modal" data-target="#deleteModal" th:data-category-id="${category.id}">
                              <i class="fa fa-times"></i>
                            </button>
                            </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
  
              <!-- end content body -->
            </div>
          </div>
        </div>
        <!-- End body -->
      </div>
    </div>

    <!-- Modal  Delete-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Xóa loại</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
           
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            <button type="button" class="btn btn-danger">Xóa</button>
          </div>
        </div>
      </div>
    </div>
    <!--END Modal  Delete-->

    <footer th:replace="common/_footer_admin"></footer>
    <script src="/admin/assets/js/categories.js"></script>
  </body>
</html>
