<link
    href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap"
    rel="stylesheet">
    <link rel="icon" href="../../client/img/icon.png" type="image/x-icon"/>

<!-- Css Styles -->
<link rel="stylesheet" href="../../client/css/bootstrap.min.css"
    type="text/css">
<link rel="stylesheet" href="../../client/css/font-awesome.min.css"
    type="text/css">
<link rel="stylesheet" href="../../client/css/elegant-icons.css"
    type="text/css">
<link rel="stylesheet" href="../../client/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="../../client/css/jquery-ui.min.css"
    type="text/css">
<link rel="stylesheet" href="../../client/css/owl.carousel.min.css"
    type="text/css">
<link rel="stylesheet" href="../../client/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="../../client/css/style.css" type="text/css">
<link rel="stylesheet" type="text/css" href="../../client/css/single_styles.css" />

<!-- login -->
